@import "./utils/variables";
@import "./base/reset";

@import "./components/logo";
@import "./components/header";
@import "./layout/hero";
@import "./layout/benefits";
@import "./layout/ours-works";
@import "./layout/our-team";
@import "./components/icon-box";

@import "./layout/clients";
@import "./components/footer";

@import "./components/backdrop";
@import "./components/modal";

@import "./utils/filters";
@import "./layout/cards";
