.ours-work {
  padding-top: 0;
  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item {
    margin-left: 30px;
    position: relative;
    &:nth-child(3n + 1) {
      margin-left: 0;
    }
    &__bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 70px;
      background: rgba(47, 48, 58, 0.8);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &__title {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--white-color);
    }
  }
}
