.logo {
  display: block;
  color: var(--brand-primary-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: (31 / 26);
  }
}
.nav__logo {
  padding: 16px 0;
  @media screen and (min-width: 768px) {
    padding: 25px 0;
  }
  &-studio--dark {
    color: var(--brand-secondary-color);
  }
}
.footer__container__logo {
  color: var(--brand-primary-color);
  margin-bottom: 20px;
  &-studio--light {
    color: var(--white-color);
  }
}
