/* primary logo color #000000 */
/* secondary logo color #2196F3 */
/* background footer #2f303a */

/* .az {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}
.azz {
  flex-basis: calc(100% / 3 - 30);
  margin-bottom: 30px;
  margin-left: 30px;
} */

/* --------------------------------HEADER------------------------------ */

/* --------------------------------HERO-------------------------------- */

/* --------------------------------BENEFITS-------------------------------- */

/* --------------------------------OUR WORKS-------------------------------- */

/* --------------------------------OUR TEAM-------------------------------- */

/* --------------------------------CLIENTS-------------------------------- */

/* --------------------------------PORTFOLIO-------------------------------- */

/* --------------------------------FOOTER-------------------------------- */

/* --------------------------------COLOR OF LINK-------------------------------- */

/* --------------------------------MODAL WINDOW-------------------------------- */
